<ion-header>
    <ion-toolbar>
        <ion-button color="light" (click)="backtocusrequst()">กลับ</ion-button>
        <ion-title>อาการเสีย</ion-title>
       
        <ion-buttons slot="end">
            <ion-button color="dark" (click)="dismissProfilecustomer()">
              <ion-icon slot="icon-only" slot="end" name="person"></ion-icon>
            </ion-button>
          </ion-buttons>
  
  
    </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid>
  <ion-row>
      <div class="circle" id="w">
      </div>
  </ion-row>
  <ion-row>
    <div class="line" ></div>
</ion-row>
  <!-- <ion-row>
    <div class="circle" id="p"></div>
  </ion-row> -->
  <!-- <ion-row>
    <div class="line" ></div>
</ion-row> -->
  <ion-row>
    <div class="circle" id="f"></div>
  </ion-row>

  <ion-row>
    <ion-card>
        <ion-grid>
          <ion-row>
              <ion-col>
                  <img src="assets/img/faceimg.jpg">
              </ion-col>
              <ion-col>
                  <ion-row >
                      <ion-col>
                          ชื่อ : {{name}}
                        </ion-col>
                    </ion-row>
                 <ion-row>
                    <ion-col>
                        เบอร์โทร : {{tel}}
                      </ion-col>
                 </ion-row>
                </ion-col>     
          </ion-row>
              

        </ion-grid>
        
    </ion-card>
     
    </ion-row>
</ion-grid>

<div style="text-align:center;">
  <ion-button color="success" >ยกเลิก</ion-button>
</div>

</ion-content>
