<ion-header>
    <ion-toolbar>
        <ion-button color="light" (click)="dismissHome()">กลับ</ion-button>
        <ion-title>รับงาน</ion-title>
  
        <ion-button size="large" slot="end" color="non" (click)="dismissProfilerepaiman()">
            <ion-avatar size="small" class="ion-margin">
               <img  src="https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/78850667_2539367516279815_5917326234978615296_n.png?_nc_cat=100&_nc_eui2=AeGxOkvpUM4MGSY-nQ5_8Nqa0g14e2TJRtgXMm-GTD0dtaycX1G2LbN-6-cVHe0bNE2LFpJwOI7JHcx7EH-zSQqNSj_joto1J4C2iJcNipZozw&_nc_ohc=LDNCnXl6bC0AQkivlBtcHWH1PLkObJNsVG31fSAS4duaYb5L8ihTnqExw&_nc_ht=scontent.fbkk22-1.fna&oh=9e192e463eb64f9e51cf79f80142a349&oe=5E783ADF">
            </ion-avatar> 
      </ion-button>
    </ion-toolbar>
  
  
  </ion-header>

<ion-content>
    <div *ngIf="status;else elsecard">

        ไม่มีการราย

      </div>
      <ng-template #elsecard>
    <ion-list>
      <ion-item *ngFor ="let dataRepairinvoiced of userDoc" (click)="sendData(dataRepairinvoiced)">
          <ion-card id="card">
              <ion-grid id="grid"> 
                <ion-row>
                  <ion-col size="4">
                      <img id="imgUser" src="{{dataRepairinvoiced.imageProfile}}">
                  </ion-col>
                  <ion-col size="8">
                      <ion-row >
                          <ion-col>
                              ชื่อ : {{dataRepairinvoiced.fName}}
                            </ion-col>
                        </ion-row>
                      <ion-row>
                          <ion-col>
                              ทะเบียนรถ : {{dataRepairinvoiced.repairinvoiced.licenseplate}}
                            </ion-col>
                      </ion-row>
                      <ion-row>
                          <ion-col>
                              อากาศเสีย : {{dataRepairinvoiced.repairinvoiced.badcondition}}
                            </ion-col>
                      </ion-row>
                     <ion-row>
                        <ion-col>
                            เบอร์โทร : {{dataRepairinvoiced.tel}}
                          </ion-col>
                     </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
          </ion-card>
      </ion-item>
      
</ion-list>
</ng-template>

  
</ion-content>
