<ion-header>
    <ion-toolbar>
        <ion-button color="light" (click)="dismissGoogleforshop()">กลับ</ion-button>
        <ion-title><b>ประเมินราคาซ่อม</b></ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item class="img" >
        <img src="https://www.pinclipart.com/picdir/big/18-185386_finance-clipart-accounting-journal-valuation-icon-png-download.png?fbclid=IwAR2qIf9B9mvyLW5lv0UEGBtH9jJsaPB8bjpKFrbJQn8mGb3utBOKYNFXBic">
       </ion-item>
    
        <ion-item>
            <ion-input name="name" type="text" placeholder="ทะเบียนรถ" ngModel required [(ngModel)]="idCar" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="name1" type="text" placeholder="อาการเสีย" ngModel required [(ngModel)]="breakDown"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="name2" type="text" placeholder="ราคาประเมิน" ngModel required [(ngModel)]="price"></ion-input>
          </ion-item>
    
          <ion-row>
          <ion-col style="text-align:left;">
           <ion-button color="success" (click)="sendDataToFireStore()" expand="full" > ประเมิน </ion-button>
          </ion-col>


          <ion-col style="text-align:right;">
            <ion-button color="danger" (click)="dismissreportrepairman()" expand="full" > รายงาน </ion-button>
          </ion-col>
          </ion-row>

                
</ion-content>

  


