<ion-header>
    <ion-toolbar>
        <ion-button color="light" (click)="dismissGoogleforshop()">กลับ</ion-button>
        <ion-title>ประเมิน</ion-title>

        <ion-buttons slot="end">
            <ion-button color="dark" (click)="dismissProfilerepairman()">
              <ion-icon slot="icon-only" slot="end" name="person"></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <img src="https://cdn2.iconfinder.com/data/icons/flat-ui-free/200/clipboard.png">
       </ion-item>
    
        <ion-item>
            <ion-input name="name" type="text" placeholder="ทะเบียนรถ" ngModel required [(ngModel)]="idCar" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="name1" type="text" placeholder="อาการเสีย" ngModel required [(ngModel)]="breakDown"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input name="name2" type="text" placeholder="ราคาประเมิน" ngModel required [(ngModel)]="price"></ion-input>
          </ion-item>
    
    
           <ion-button 
            (click)="sendDataToFireStore()">
            ประเมิน
           </ion-button>
    
</ion-content>

  


