<ion-header>
    <ion-toolbar>
        <ion-button color="light" (click)="dismissCusrequst()">กลับ</ion-button>
        <ion-title>โปรไฟล์ลูกค้า</ion-title>

    </ion-toolbar>
  
  
  </ion-header>
  
  
  
  <ion-content class="ion-padding">
   
      <form novalidate #myForm="ngForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating">ชื่อ-สกุล</ion-label>
            <ion-input type="text"name='fullname' required [(ngModel)]="fname"></ion-input>
          </ion-item>
        
            <ion-item>
            <ion-label position="floating">Tel</ion-label>
            <ion-input type="text" name='tel' required [(ngModel)]="tel"></ion-input>   
          </ion-item>

          <ion-item>
            <ion-label position="floating">เลขบัตรประชาชน</ion-label>
            <ion-input type="text" name='idcCard' required [(ngModel)]="idCard"></ion-input>   
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input ngModel type="password" name="password" #password="ngModel" required minlength="3"></ion-input>
          </ion-item>
          <ion-text class="ion-padding" color="danger" *ngIf="password.invalid && (password.dirty || password.touched)">
            กรุณาป้อนรหัสผ่าน และรหัสผ่านต้องป้อนอย่างน้อย 3 ตัวอักษร
          </ion-text>
    
    
          <ion-button class="ion-margin-top"color="warning" [disabled]="myForm.invalid" size="large" expand="full"
            (click)="signup(myForm.value)">
            แก้ไข
          </ion-button>
    
        </ion-list>
      </form>
    
    </ion-content>
  