<ion-header>
    <ion-toolbar>
        <ion-button color="light" (click)="gotodevice()">กลับ</ion-button>
      <ion-title>reportrepairman</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  
  
  <ion-item>
    <ion-label><b>รายงาน :</b></ion-label>
    <ion-textarea rows="6" cols="20" placeholder="กรอกรายละเอียดลงที่นี่..." clearOnEdit="true" [(ngModel)]="reportrepairman"></ion-textarea>
  </ion-item>
  
  
  <ion-button (click)="sendDataToFireStore()" size="large" color="success" expand="block">บันทึก</ion-button>
  
  </ion-content>