<ion-header>
  <ion-toolbar>
        <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-item>
   <img src="https://scontent.fbkk5-5.fna.fbcdn.net/v/t1.15752-9/79192548_561421078009890_3252834627412295680_n.png?_nc_cat=104&_nc_eui2=AeEgEa0c4L_Ek58CBl2ywSMBjB9bdUiO1An4qiQt0RQLGQ-rfhbjri38Rmr_b-gciWo4sbwLt_rNQC8_wadgvQqPO-bF_1HZwphGYCfKI0lxxA&_nc_ohc=1QKTHJHWTXoAQmXTSpZ-fZyieETihlAhm6tgdwbJYjn5M0J2IOqCpPl6Q&_nc_ht=scontent.fbkk5-5.fna&oh=10d126ab604362d3b669430252dba35d&oe=5E48878E">
  </ion-item>
  <!-- class="form" [formGroup]="form"  (ngSubmit)="loginUser(form.value)" -->
  <form  [formGroup]="form"  (ngSubmit)="loginUser(form.value)">

    <ion-item>
      <ion-label position="floating" >Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message" *ngIf="form.get('email').hasError(validation.type) && (form.get('email').dirty || form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
      
    <ion-item>
      <ion-label position="floating" >Password</ion-label>
      <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
    </ion-item>

    <!-- <div style="text-align:right;">
    <button size="small" (click)="resetPassword()">Forgot Password?</button>
    </div> -->

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.password">
        <div class="error-message" *ngIf="form.get('password').hasError(validation.type) && (form.get('password').dirty || form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button type="submit" expand="full" color="warning" [disabled]="!form.valid">
      <ion-text color="dark">เข้าระบบ</ion-text>
    </ion-button>

  </form>
  
    <label class="error-message">{{errorMessage}}</label>
  <ion-row>
    <ion-col style="text-align: right">
      <ion-button size="small" expand="full" color="danger" (click)="goToRegisterPage()">สมัครสมาชิกลูกค้า</ion-button>
    </ion-col>

    <ion-col style="text-align: left">
      <ion-button size="small" type="submit" expand="full" (click)="goToRegister2Page()">สมัครสมาชิกช่าง</ion-button>
    </ion-col>
  </ion-row>

    
</ion-content>
