<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissRegister()">กลับ</ion-button>
    <ion-title>สมัครสมาชิกลูกค้า</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- <form #form="ngForm" (ngSubmit)="register(form)" method="post"> -->
      <ion-item>
        <img src="https://scontent.fbkk5-5.fna.fbcdn.net/v/t1.15752-9/79192548_561421078009890_3252834627412295680_n.png?_nc_cat=104&_nc_eui2=AeEgEa0c4L_Ek58CBl2ywSMBjB9bdUiO1An4qiQt0RQLGQ-rfhbjri38Rmr_b-gciWo4sbwLt_rNQC8_wadgvQqPO-bF_1HZwphGYCfKI0lxxA&_nc_ohc=1QKTHJHWTXoAQmXTSpZ-fZyieETihlAhm6tgdwbJYjn5M0J2IOqCpPl6Q&_nc_ht=scontent.fbkk5-5.fna&oh=10d126ab604362d3b669430252dba35d&oe=5E48878E">
      </ion-item>
     

     <!-- <img class="block" [src]="base64Image"/>
     <button ion-button round ion-button id="divbutton1" class="text-bold" (click)="takeGallery()">
      <ion-label>Upload Image</ion-label>
     </button> -->

  <form class="form" [formGroup]="form"  (ngSubmit)="tryRegister(form.value)">

       
    <ion-item>
        <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">ชื่อ - สกุล</ion-label>
      <ion-input type="text" formControlName="fName"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">เลขบัตรประชาชน</ion-label>
      <ion-input type="text" formControlName="idCard"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">วัน/เดือน/ปีเกิด</ion-label>
      <ion-input type="text" formControlName="birthDay"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">เพศ</ion-label>
      <ion-input type="text" formControlName="sex"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">MMMM/DD/YYYY</ion-label>
      <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2020-12-09" formControlName="bDay"></ion-datetime>
    </ion-item> -->

    <ion-item>
      <ion-label>MMMM DD YY</ion-label>
      <ion-datetime displayFormat="DD MMMM YYYY" placeholder="Select Date"><ion-input type="text" formControlName="bDay"></ion-input></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
      <ion-input type="text" formControlName="tel"></ion-input>
    </ion-item>
    
        
    <ion-button  class="submit-btn" color="warning" type="submit"  [disabled]="!form.valid">สมัครสมาชิก</ion-button>
    <!-- <ion-button type="submit" expand="full" color="warning">Register</ion-button> -->
  </form>
    <!-- <ion-button expand="full" color="primary" (click)="loginModal()">Login</ion-button> -->
</ion-content> 
